<%= form_for ([@user, @cost]) do |f| %>
	<p> 
		<%= f.label "Name" %><br>
		<%= f.text_field :name %>
	</p>
	<p> 
		<%= f.label "Price" %><br>
		<%= f.text_field :price %>
	</p>
	<p> 
		<%= f.label "Date" %><br>
		<%= f.text_field :date %>
	</p>
	
	<p>
		<%= f.submit %>
	</p>

<% end %>

<td><%= link_to 'Back', "/" %> </td>
